* {
  font-family: "Jua", sans-serif;
}
.mytitle {
  text-align: center;
  background-color: green;
  color: white;
  width: 300px;
  height: 200px;

  background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 10px;
  /*margin 0px 0px 0px 0px 은 순서대로 위 오른쪽 아래 왼쪽 이다.*/
  padding-top: 20px;
}

.wrap {
  width: 300px;
  margin: auto;
}

.mybtn {
  width: 100px;
  margin: auto;
  display: block;
}

.red-font {
  color: red;
  font-size: 16px;
}
